/* 
写属于自己的动画样式（参考 animate。css动画库）
*/

/* 通常基础类作用：为默认情况 
   其他情况可以按需
*/

/* 单位使用说明
    1：凡是以% 都是以父元素为基础
    2：凡是单位大于1000px 都是以body为基础
*/

/* 定义基础类 */
.animate{
    /* 执行所有动画名字 */
    animation: all;

    /* 执行每个动画的执行时间 */
    animation-duration: 1s;
    /* 默认所有的动画都匀速 */
    animation-timing-function: linear;
}

/* 是否始终循环执行 */
.infinite{
    animation-iteration-count: infinite;
}

/* 设置迟延时间 */
.delay-1s{
    animation-delay: 1s;
}
.delay-2s{
    animation-delay: 2s;
}
.delay-3s{
    animation-delay: 3s;
}
.delay-4s{
    animation-delay: 4s;
}
.delay-5s{
    animation-delay: 5s;
}


/* 设置动画执行时间长短 */

.fast{
    animation-duration: 1s;
}
.faster{
    animation-duration: 800ms;
}
.fastest{
    animation-duration: 500ms;
}
.slow{
    animation-duration: 3s;
}
.slower{
    animation-duration: 4s;
}


/* 设置动画执行速度 */


/* 弹跳 */

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    40%,
    43% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
  
    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
  
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
  }
  
  .bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  /* 从内部弹 */
@keyframes bounceIn{
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0%{
        transform: scale(0.3,0.3);
    }
    20%{
        transform: scale(1.3,1.3);
    }
    40%{
        transform: scale(0.6,0.6);
    }
    60%{
        transform: scale(1.15,1.15);
    }
    80%{
        transform: scale(0.9,0.9);
    }
}

.bounceIn{
        animation-name: bounceIn;
    }
    /* 从左部弹 */
    @keyframes bounceLeft{
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0%{
            transform: translate(-3000px,0);
        }
        60%{
            transform: translate(60px,0);
        }
        70%
        {
            transform: translate(-20px,0);
        }
        90%{
            transform: translate(5px,0);
        }
    }
    
    .bounceLeft{
            animation-name: bounceLeft;
        }
    /* 从内右部弹 */
    @keyframes bounceRight{
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0%{
            transform: translate(3000px,0);
        }
        60%{
            transform: translate(-30px,0);
        }
        70%
        {
            transform: translate(20px,0);
        }
        90%{
            transform: translate(-3px,0);
        }
    }
    
    .bounceRight{
            animation-name: bounceRight;
        }
    /* 从上面部弹 */

    @keyframes bounceTop{
        from,
        60%,
        75%,
        90%,
        to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0%{
            transform: translate(0,-3000px);
        }
        60%{
            transform: translate(0,60px);
        }
        70%
        {
            transform: translate(0,-20px);
        }
        90%{
            transform: translate(0,5px);
        }
    }
    
    .bounceTop{
            animation-name: bounceTop;
        }
    /* 从下部弹 */
    @keyframes bounceBottom{

    }
    
    .bounceBottom{
            animation-name: bounceBottom;
        }
/* 从外部弹出 */
@keyframes bounceOut{
    0%,100%{
        transform: scale(0,0,);
    }
    30%{
        transform: scale(0.8,0.8);
    }
    40%{
        transform: scale(1.1,1.1);
        opacity: 1;
    }
    
    80%{
        transform: scale(0.1,0.1);
        opacity: 0;
    }
}
.bounceOut{
    animation-name: bounceOut;
}
/* 从外部下弹出 */
@keyframes bounceOutDown{
    10%{
        transform: translateY(10px);
    }
    20%{
        transform: translateY(-25px);
    }
    50%{
        transform: translateY(2025px);
    }
    70%{
        transform:translateY(-10px) ;
        
    }
    100%{
            transform: translateY(0);
            opacity: 0;
    }
}
.bounceOutDown{
    animation-name: bounceOutDown;
}
/* 从上外部弹出 */
@keyframes bounceOutUp{
    10%{
        transform: translateY(-10px);
    }
    20%{
        transform: translateY(25px);
    }
    50%{
        transform: translateY(-2025px);
    }
    70%{
        transform:translateY(10px) ;
        
    }
    100%{
            transform: translateY(0);
            opacity: 0;
    }
}
.bounceOutUp{
    animation-name: bounceOutUp;
}

/* 从外部左弹出 */
@keyframes bounceOutLeft{
    /* 10%{
        transform: translateX(-10px);
    } */
    30%{
        transform: translateX(25px);
    }
    50%{
        transform: translateX(-2025px);
    }
    70%{
        transform:translateX(0px) ;       
    }
    100%{
            transform: translateX(0);
            /* opacity: 0; */
    }
}
.bounceOutLeft{
    animation-name: bounceOutLeft;
}
/* 从外部右弹出 */
@keyframes bounceOutRight{
    30%{
        transform: translateX(-25px);
    }
    50%{
        transform: translateX(2025px);
    }
    70%{
        transform:translateX(0px) ;       
    }
    100%{
            transform: translateX(0);
            /* opacity: 0; */
    }
}
.bounceOutRight{
    animation-name: bounceOutRight;
}
  /* 闪烁 */
  @keyframes flash{
      /* 50%执行下面 */
    from,
        50%,
        to
     {
        opacity: 1;
      }
      25%,
      75%
      {
          opacity: 0;
      }
  }
  .flash{
      animation-name: flash;
  }


  /* 3频快闪 */
  @keyframes flasher{
      0%,33%,66%,100%{
          opacity: 1;
      }
      16%,48%,82%{
          opacity: 0;
      }
  }

  .flasher{
      animation-name: flasher;
  }

  /* 缩放 */
  @keyframes pules{
      0%,100%{
          transform: scale3d(1,1,1);
      }
      50%{
            transform: scale3d(1.05,1.05,1.05);
      }
  }

  .pules
  {
      animation-name: pules;
  }

  /* 字体放大动画 */
  @keyframes pulesFont{
      0%,100%{
          
      }
      50%{
        font-size: 28px;
        /* 字符之间间距 */
        letter-spacing: 10px;
      }
  }
  .pulesFont{
      animation-name: pulesFont;
  }


  /* 拉缩动画 */
  
@keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  /* 字体扁长 */
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    /* 字体短高 */
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
  
  /* 抖动 */
  @keyframes shake{
      0%,100%{
          transform: translate3d(0,0);
      }
      10%,30%,50%,70%,90%{
        transform: translate(-10px,0px);
      }
      20%,40%,60%,80%{
        transform: translate(10px,0px);
      }
  }
.shake{
    animation-name: shake;
}

/* 摇摆 */
@keyframes swing{
    20%
    {
        transform: rotate3d(0,0,1,15deg);
    }
    40%{
        transform: rotate3d(0, 0, 1, -10deg);
    }
60% {
    transform: rotate3d(0, 0, 1, 5deg);
}
80%{
    transform: rotate3d(0, 0, 1, -5deg);
}
to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.swing{
    animation-name: swing;
}
/* 缩放摇摆 */
@keyframes tada {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .tada {
    -webkit-animation-name: tada;
    animation-name: tada;
  }
  

  /* 摇晃 */
  @keyframes turntable{
      /* x移动 z轴旋转 */
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    
      15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
      }
    
      30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
      }
    
      45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
      }
    
      60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
      }
    
      75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
      }
    
      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
  }
  .turntable{
      animation-name: turntable;
  }


  /* 拉伸动画 */
  @keyframes jello {
    from,
    11.1%,
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    22.2% {
      -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
      transform: skewX(-12.5deg) skewY(-12.5deg);
    }
  
    33.3% {
      -webkit-transform: skewX(6.25deg) skewY(6.25deg);
      transform: skewX(6.25deg) skewY(6.25deg);
    }
  
    44.4% {
      -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
      transform: skewX(-3.125deg) skewY(-3.125deg);
    }
  
    55.5% {
      -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
      transform: skewX(1.5625deg) skewY(1.5625deg);
    }
  
    66.6% {
      -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
      transform: skewX(-0.78125deg) skewY(-0.78125deg);
    }
  
    77.7% {
      -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
      transform: skewX(0.390625deg) skewY(0.390625deg);
    }
  
    88.8% {
      -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
      transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    } 
  }
  
  .jello {
    
    animation-name: jello;
    
    transform-origin: center;
  }

  /* 开幕式 上下 */

  @keyframes inaugurations{
     from{
         transform: rotateX(90deg);
     }
     to{
         transform:rotateX(0);
     }
  }
  .inaugurationsCenter{
      animation-name: inaugurations;
      transform-origin: center;
  }
  .inaugurationsTop{
    animation-name: inaugurations;
    transform-origin: top;
}
.inaugurationsBottom{
    animation-name: inaugurations;
    transform-origin: bottom;
}

/* 放大两次 */
@keyframes heartBeat{
    from,50%,to{
        transform: scale(1);
    }
    25%,75%{
        transform: scale(1.1);
    }
}
.heartBeat{
    animation-name: heartBeat;
}

/* facing 原位衰退 */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
    }
}
/* 从上出现 */
.fadeIn{
    animation-name: fadeIn;
}
@keyframes fadeInDown{
    from{
        opacity: 0;
        transform:translateY(-100%);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateY(0);
    }
}
.fadeInDown{
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
}

/* 掉落显示效果 */
@keyframes fadeInDownBig{
    from{
        opacity: 0;
        transform:translateY(-1000px);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateY(0);
    }
}
.fadeInDownBig{
    animation-name: fadeInDownBig;
    animation-timing-function: ease-out;
}

/* 从左掉落显示 */
@keyframes fadeInDownLeft{
    from{
        opacity: 0;
        transform:translateX(-100%);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.fadeInDownLeft{
    animation-name: fadeInDownLeft;
    animation-timing-function: ease-out;
}
/* 从左屏幕远方出现 */
@keyframes fadeInDownLeftBig{
    from{
        opacity: 0;
        transform:translateX(-1000px);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.fadeInDownLeftBig{
    animation-name: fadeInDownLeftBig;
    animation-timing-function: ease-out;
}

/* 从右掉落显示 */
@keyframes fadeInDownRight{
    from{
        opacity: 0;
        transform:translateX(100%);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.fadeInDownRight{
    animation-name: fadeInDownRight;
    animation-timing-function: ease-out;
}
/* 从右屏幕远方出现 */
@keyframes fadeInDownRightBig{
    from{
        opacity: 0;
        transform:translateX(1000px);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateX(0);
    }
}
.fadeInDownRightBig{
    animation-name: fadeInDownRightBig;
    animation-timing-function: ease-out;
}



/* 从上到下 显示 */
@keyframes fadeInUp{
    from{
        opacity: 0;
        transform:translateY(100%);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateY(0);
    }
}
.fadeInUp{
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
}

/* 从下到上小显示 */
@keyframes fadeInUpBig{
    from{
        opacity: 0;
        transform:translateY(1000px);
    }
    /* 50%{
        opacity: 0;
    } */
    to{
        opacity: 1;
        transform:translateY(0);
    }
}
.fadeInUpBig{
    animation-name: fadeInUpBig;
    animation-timing-function: ease-out;
}

/*外部淡出fadeOut  */
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.fadeOut{
    animation-name: fadeOut;
}

/*往下淡出fadeOut  */
@keyframes fadeOutDown{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(100%);
    }
}
.fadeOutDown{
    animation-name: fadeOutDown;
}

/*往下大淡出fadeOutDownBig  */
@keyframes fadeOutDownBig{
    to{
        transform: translateY(1000px);
    }
 }
 .fadeOutDownBig{
     animation-name: fadeOutDownBig;
 }
 

/*上部淡出fadeOutUp  */
@keyframes fadeOutUp{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateY(-100%);
    }
}
.fadeOutUp{
    animation-name: fadeOutUp;
}

/*往上大淡出fadeOutupBig  */
@keyframes fadeOutUpBig{
   to{
       transform: translateY(-1000px);
   }
}
.fadeOutUpBig{
    animation-name: fadeOutUpBig;
}

/*往下大淡出fadeOutDownBig  */
@keyframes fadeOutDownBig{

}
.fadeOutDownBig{
    animation-name: fadeOutDownBig;
}



/*从左淡出fadeOutLeft  */
@keyframes fadeOutLeft{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(-100%);
    }
}
.fadeOutLeft{
    animation-name: fadeOutLeft;
}

/* 从左大淡出fadeOut  */
@keyframes fadeOutLeftBig{
    from{
        
    }
    50%{
      
        transform: translateX(-2000px);
    }
    90%{
        transform: translateX(-2001px);
    }
}
.fadeOutLeftBig{
    animation-name: fadeOutLeftBig;
}


/*从右淡出fadeOutRight  */
@keyframes fadeOutRight{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(100%);
    }
}
.fadeOutRight{
    animation-name: fadeOutRight;
}

/* 从左大淡出fadeOut  */
@keyframes fadeOutRightBig{
    from{
        
    }
    50%{
      
        transform: translateX(2000px);
    }
    90%{
        transform: translateX(2001px);
    }
}
.fadeOutRightBig{
    animation-name: fadeOutRightBig;
}

/* 旋转 */
@keyframes flip{
    from {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    
      40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
          rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
          rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    
      50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
          rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
          rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
    
      80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
    
      to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
}
.flip{
    backface-visibility: visible;
    animation-name: flip;
}

@keyframes flipInx{
    from{

    }
    50%{
        translate: rotateX(45deg);
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.flipInx{
    animation-name: flipInx;
}

/* 旋转摇晃 */
@keyframes flipOutX{
    
    from{
        transform: rotateX(90deg);
        opacity: 0;
    }
    /* 旋转 */
    60%{
        transform: rotateX(-25deg) skewX(10deg);
        opacity: 1;
    }
    75%{
        transform: rotateX(7deg) skewX(-7deg);
    }
    85%{
        transform: rotateX(-3deg);
    }
   to{
    transform: skewX(0deg) rotateX(0deg);
   }
}
.flipOutX{
    animation-name: flipOutX;
}

/* 绕y旋转 */
@keyframes flipIny{
    
    from{
        transform: rotateY(90deg);
        opacity: 0;
       
    }
    /* 旋转 */
    50%{
        transform: rotateY(-35deg) ;
      
    }
    75%{
        transform: rotateY(10deg) ;
    }
    85%{
        transform: rotateY(-3deg);
    }
   to{
    transform:  rotateY(0deg);
    opacity: 1;
   }
}
.flipIny{
    animation-name: flipIny;
}
/*  */
@keyframes flipOutY{
from{opacity: 1;}
40%{
    transform: rotateY(40deg);
}
to{
    animation-timing-function: ease-out;
    transform: rotateY(-90deg);
    opacity: 0;
}
}
.flipOutY{
    animation-name: flipOutY;
}




/* 旋转 */
@keyframes rolex{
    from{
        opacity: 0;
        transform: perspective(400px)  rotate3d(1,0,0,90deg);
       
        /* transform-origin:center top; */
        animation-timing-function: ease-in;
    }
    40%{
        transform:rotate3d(1, 0, 0, -20deg);
        /* transform-origin:center top; */
        
        perspective: 400px;
        animation-timing-function: ease-in;
    }
    60%{
        opacity: 1;
        transform: rotate3d(1, 0, 0, 10deg);
/* transform-origin:center top; */
perspective: 400px;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to{
      
        /* transform-origin:center top; */
        perspective: 400px;
    }
}
.rolex{
    animation-name: rolex;
}


@keyframes ch-flipX {
    from {
        
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
       
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
       
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
       
        animation-timing-function: ease-in;
    }

    60% {
        
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
       
                transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
     
        transform: perspective(400px);
    }
}
.ch-flipX{
    animation-name: ch-flipX;
}


/* special */
@keyframes hingle{
    from{
        opacity: 0;
    }
    /* 下65 */
    30%{
        transform-origin: 0% 0%;
        transform:  rotateZ(65deg);
        opacity:1;
    }
    /* 上25*/
   50%
   {
    transform-origin: 0% 0%;
    transform:  rotateZ(40deg);
   } 
   /* 下50 */
   70%{
    transform-origin: 0% 0%;
    transform:  rotateZ(50deg);
   }
   /* 上10 */
   90%{
    transform-origin: 0% 0%;
    transform:  rotateZ(15deg);
   }
}
.hingle{
    animation-name: hingle;
}